<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>zz-ohaqyrf@sereba.pbz</string>
	<key>contactName</key>
	<string>Benny Kjær Nielsen</string>
	<key>description</key>
	<string>Plain text math converted to MathML</string>
	<key>name</key>
	<string>ASCIIMath</string>
	<key>uuid</key>
	<string>B7651674-7814-403E-805F-025D7F419068</string>
</dict>
</plist>
